# Bonus: Temperature Analysis I

In [134]:
import pandas as pd
from datetime import datetime as dt

In [135]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [136]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [137]:
# Set the date column as the DataFrame index
df.set_index("date",inplace=True)

In [141]:
# Drop the date column
df.reset_index(drop=True)

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [142]:
from scipy import stats

In [143]:
# Filter data for desired months

In [162]:
# Identify the average temperature for June
df_june = df[df.index.month == 6]
df_june = df_june.dropna(how='any')
df_june = df_june.dropna(how='any')

In [163]:
june_avg = df_june['tobs'].mean()
june_avg

74.88754764930114

In [164]:
# Identify the average temperature for December
df_december = df[df.index.month == 12]
df_december = df_december.dropna(how='any')

In [165]:
december_avg = df_december['tobs'].mean()
december_avg

70.93024911032029

In [169]:
# Create collections of temperature data
jun_tobs = df_june['tobs'].reset_index(drop=True)
december_tobs = df_december['tobs'].reset_index(drop=True)
december_tobs

0       76
1       74
2       74
3       64
4       64
        ..
1400    71
1401    71
1402    69
1403    65
1404    65
Name: tobs, Length: 1405, dtype: int64

In [167]:
# Run paired t-test
stats.ttest_rel(jun_tbos, december_tobs)

ValueError: unequal length arrays

### Analysis